In [3]:
# Deliverable 3: Use Ensemble Classifiers to Predict Credit Risk

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [6]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [7]:
# Read the CSV and perform basic data cleaning

In [8]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [9]:
# Load the data
file_path = Path('/Users/poorfamily/Desktop/Analysis Projects/Credit_Risk_Analysis/Module-17-Challenge-Resources/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [10]:
# Split the data into Training and Testing

In [11]:
# Create our features
X = df.drop("loan_status", axis=1)

X = pd.get_dummies(X)

# Create our target
y = df["loan_status"]

In [12]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.177238,1.0,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660,1.0,1.0
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.381873,0.0,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637,0.0,0.0
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [13]:
# Check the balance of our target values
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [15]:
# Ensembel Learners
# Balanced Random Forest Classifier

In [16]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
random_forest = BalancedRandomForestClassifier(n_estimators = 100)
random_forest = random_forest.fit(X_train, y_train)

In [17]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = random_forest.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.7699038612935194

In [18]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[   66,    35],
       [ 1944, 15160]])

In [19]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.03      0.65      0.89      0.06      0.76      0.57       101
   low_risk       1.00      0.89      0.65      0.94      0.76      0.59     17104

avg / total       0.99      0.88      0.65      0.93      0.76      0.59     17205

In [20]:
# List the features sorted in descending order by feature importance
feature_names = X.columns
sorted(zip(random_forest.feature_importances_, feature_names), reverse=True)

[(0.06922950460245113, 'last_pymnt_amnt'),
 (0.06823153490809294, 'total_rec_int'),
 (0.06370693071726373, 'total_pymnt'),
 (0.05785733302340705, 'total_rec_prncp'),
 (0.049198938981084475, 'total_pymnt_inv'),
 (0.03342335766967744, 'int_rate'),
 (0.019877435825316956, 'tot_hi_cred_lim'),
 (0.018656529879089535, 'issue_d_Jan-2019'),
 (0.018559212798635042, 'mths_since_recent_inq'),
 (0.017432223327599215, 'bc_util'),
 (0.01697736577527677, 'out_prncp'),
 (0.015597696845604256, 'dti'),
 (0.015567251159957949, 'revol_bal'),
 (0.015536712699914532, 'total_rev_hi_lim'),
 (0.015153761024322558, 'annual_inc'),
 (0.015097260756470086, 'out_prncp_inv'),
 (0.015090365620925125, 'installment'),
 (0.015080622179877611, 'total_bc_limit'),
 (0.015037670411899153, 'mo_sin_old_rev_tl_op'),
 (0.014982277433413954, 'total_il_high_credit_limit'),
 (0.014200902187409744, 'max_bal_bc'),
 (0.013633843940883485, 'avg_cur_bal'),
 (0.01361334159571951, 'loan_amnt'),
 (0.013477505169513484, 'il_util'),
 (0.013408256626484285, 'tot_cur_bal'),
 (0.013255834397812784, 'mo_sin_old_il_acct'),
 (0.01302292249105144, 'total_bal_il'),
 (0.012988742169774272, 'bc_open_to_buy'),
 (0.01191569425673828, 'all_util'),
 (0.011625821695723716, 'total_bal_ex_mort'),
 (0.011244568329571854, 'mo_sin_rcnt_rev_tl_op'),
 (0.010821443703929503, 'mths_since_rcnt_il'),
 (0.010542132818595541, 'inq_last_12m'),
 (0.010318878004609611, 'issue_d_Mar-2019'),
 (0.010170972892311796, 'num_rev_accts'),
 (0.009528603019966404, 'mths_since_recent_bc'),
 (0.009494056973539949, 'total_acc'),
 (0.009096631589787685, 'open_il_24m'),
 (0.009053953603386922, 'num_sats'),
 (0.008872616743589216, 'mo_sin_rcnt_tl'),
 (0.008870908282550992, 'num_bc_tl'),
 (0.0088557648873996, 'num_actv_bc_tl'),
 (0.00872748376082764, 'num_op_rev_tl'),
 (0.008268067065965657, 'num_rev_tl_bal_gt_0'),
 (0.008191149026779618, 'pct_tl_nvr_dlq'),
 (0.008083862662525355, 'num_il_tl'),
 (0.007922586688832391, 'num_tl_op_past_12m'),
 (0.007757408799846301, 'open_acc'),
 (0.0076903049145629334, 'acc_open_past_24mths'),
 (0.007460416966545624, 'num_actv_rev_tl'),
 (0.007166952356649586, 'num_bc_sats'),
 (0.0068767993722998475, 'mort_acc'),
 (0.006766055589857748, 'percent_bc_gt_75'),
 (0.0064638899191561, 'total_cu_tl'),
 (0.006183722233605048, 'open_rv_24m'),
 (0.006158532130931848, 'total_rec_late_fee'),
 (0.0059941954470362265, 'open_act_il'),
 (0.005690963804804462, 'open_rv_12m'),
 (0.0056401923636920995, 'open_il_12m'),
 (0.0053995825777733795, 'next_pymnt_d_Apr-2019'),
 (0.004974850799869841, 'inq_fi'),
 (0.0049662099662450285, 'open_acc_6m'),
 (0.0046356019958761355, 'inq_last_6mths'),
 (0.004452213535742123, 'issue_d_Feb-2019'),
 (0.004177340015144392, 'delinq_2yrs'),
 (0.004002125800668419, 'next_pymnt_d_May-2019'),
 (0.003549820195396367, 'num_accts_ever_120_pd'),
 (0.0030546229342748588, 'tot_coll_amt'),
 (0.002582377405809751, 'verification_status_Not Verified'),
 (0.002428751889939849, 'verification_status_Verified'),
 (0.0019654472341335454, 'home_ownership_OWN'),
 (0.0019113598785367172, 'application_type_Joint App'),
 (0.0018926847609995014, 'home_ownership_RENT'),
 (0.001843000133035047, 'pub_rec'),
 (0.0015978278495035125, 'initial_list_status_f'),
 (0.0013357797479865055, 'verification_status_Source Verified'),
 (0.0012118065290374256, 'application_type_Individual'),
 (0.0011915452681486773, 'pub_rec_bankruptcies'),
 (0.0011000506582438715, 'num_tl_90g_dpd_24m'),
 (0.001094439286317445, 'home_ownership_MORTGAGE'),
 (0.0004760450355688299, 'collections_12_mths_ex_med'),
 (0.00043368302336189746, 'initial_list_status_w'),
 (0.0002386388656986164, 'home_ownership_ANY'),
 (0.00013423048814020715, 'chargeoff_within_12_mths'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan_n'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'hardship_flag_N'),
 (0.0, 'delinq_amnt'),
 (0.0, 'debt_settlement_flag_N'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'acc_now_delinq')]

In [21]:
# Easy Ensemble AdaBoost Classifier

In [22]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier
easy = EasyEnsembleClassifier(n_estimators = 100,random_state=1)
easy = easy.fit(X_train, y_train)

In [23]:
# Calculated the balanced accuracy score
y_pred = easy.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.9316600714093861

In [24]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[   93,     8],
       [  983, 16121]])

In [25]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.09      0.92      0.94      0.16      0.93      0.87       101
   low_risk       1.00      0.94      0.92      0.97      0.93      0.87     17104

avg / total       0.99      0.94      0.92      0.97      0.93      0.87     17205